html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  text-align: center;
}

body {
  margin:  auto;
}

.add {
  border: 5px solid paleturquoise;
  font-size: 25px;
  text-align: center;
  width:200px;
  border-radius: 20px;
  margin: auto;
  background: white;
}

.stats {
  border: 5px solid paleturquoise;
  border-radius: 20px;
  width: 200px;
  margin: auto;
  margin-top: 30px;
  background: white;
}
