html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  text-align: center;
}

body {
  background: rgb(167,173,255);
 background: linear-gradient(0deg, rgba(167,173,255,1) 0%, rgba(187,248,255,1) 100%);
}

.add {

  font-size: 25px;
  text-align: center;
  width:700;
  height: 60px;
  border-radius: 20px 1px;
  margin: auto;
  background: white;
}

.stats {
  border-radius: 20px 5px;
  width: 200px;
  margin: auto;
  margin-top: 30px;
  background: white;
  font-size: 20px;
}

.future {

  border-radius: 10px;
  width:1000px;
  margin-left: 20px;
  margin-top: 20px;
  margin: auto;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(255,243,216,1) 100%);
}

.futurecast {
  font-size: 20px;
  padding-bottom: 0px;
}

.hourly-container {
  margin: auto;
  border-radius: 10px;
  width: 1000px;
  background: rgb(210,143,255);
  background: linear-gradient(180deg, rgba(210,143,255,1) 0%, rgba(255,152,152,1) 50%, rgba(255,243,216,1) 100%);
}

.hourlycontent {
  font-size: 20px;
  padding-bottom: 5px;
}

.foot {
  font-family: monospace;
  font-color: black;
}
